@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../public/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}